.Rproj.user
.Rhistory
.RData
.Ruserdata
.presentation/Presentation-figure
.presentation/Presentation_cache
.presentation/Presentation_files
.presentation/Presentation.html
.presentation/Presentation.md
.presentation/DS_Store